.navColor {
    background-color: #50514F;
}

.navbar-img {
    height: 50px;
    padding-right: 15px;
}

.derecha{
    display: flex;
    justify-content: flex-end;
}

.tipografia{
    font-family: 'Ubuntu';
    font-weight: bold;
}

.mar{
    margin-right: 7px;
}
/* 
.tGrande{
    width: 101%;
}  */