.fondoFooter {
  background-color: #118AB2;
  width: 100%;
  background-size: cover; 
}

.margenA{
  margin-top: 15px;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tipografia{
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}